{{customHTML "top"}}

<div class='list-controls'>
  <div class="container">
    {{view Discourse.SearchTextField valueBinding="term" searchContextBinding="searchContext" id="topic-search-term"}}
    <div class='contents'>
      <div class="search-categories">
        <ul class="search-categories-list">
          {{#if topicStream.categories}}
            {{#each topicStream.categories}}
              {{#unless this.parent_category_id}}
                {{categorySearchLink "search_category" this}}
                {{#if this.subcategories}}
                  {{#if this.active }}
                    <ul>
                      {{#each this.subcategories}}
                        {{categorySearchLink "search_category" this}}
                      {{/each}}
                    </ul>
                  {{/if}}
                {{/if}}
              {{/unless}}
            {{/each}}
          {{else}}
            <li class="search-category">&nbsp</li>
          {{/if}}
        </ul>
      </div>
      <div>
        <table id='topic-list' style="width:75%; padding-left: 1px;">
          <thead>
          <tr>
            <th>
              &nbsp
            </th>
            {{#sortable-heading sortBy="default" sortOrder=sortOrder}}
              {{i18n topic.title}}
            {{/sortable-heading}}
            {{#sortable-heading sortBy="posts" number=true sortOrder=sortOrder}}
              {{i18n posts}}
            {{/sortable-heading}}
            {{#sortable-heading sortBy="likes" number=true sortOrder=sortOrder}}
              {{i18n likes}}
            {{/sortable-heading}}
            {{#sortable-heading sortBy="views" number=true sortOrder=sortOrder}}
              {{i18n views}}
            {{/sortable-heading}}
            {{#sortable-heading sortBy="activity" number=true colspan="2" sortOrder=sortOrder}}
              {{i18n activity}}
            {{/sortable-heading}}
          </tr>
          </thead>

          <tbody>
            {{#if topicStream.loaded}}
              {{#if topicStream.topics.length}}
                {{#unless topicStream.loadingFilter}}
                  {{each topicStream.topics itemController="topicSearchListItem" itemViewClass="Discourse.TopicSearchListItemView"}}

                {{/unless}}

              {{else}}
                <div>We couldn't find any topics!</div>
              {{/if}}
            {{/if}}
          </tbody>
        </table>
	    </div>
      {{#if topicStream.loadingBelow}}
		    <div class='spinner'>{{i18n loading}}</div>
      {{/if}}
      {{#if topicStream.loaded}}

      {{else}}
      <div class='container'>
        <div class='spinner'>{{i18n loading}}</div>
      </div>
      {{/if}}
    </div>
  </div>
</div>


{{customHTML "bottom"}}