{{customHTML "top"}}

<div class='list-controls'>
  <div class="container">
    {{view Discourse.SearchTextField valueBinding="term" searchContextBinding="searchContext" id="topic-search-term"}}
    <div class='contents'>
      <div style="float:left">
        <ul class="search-categories-list">
          {{#each topicStream.categories}}
            <div class='cat' {{action 'search_category' this}}>{{categorySearchLink this allowUncategorized=false noSubcategories=true}}</div>
            <div {{bind-attr class="expanded::hidden :category-dropdown-menu"}} data-drop-close="true">test123</div>

          {{/each}}
        </ul>
      </div>

      <table id='topic-list' style="width:70%">
        <thead>
        <tr>
          <th>
            &nbsp
          </th>
          {{#sortable-heading sortBy="default" sortOrder=sortOrder}}
            {{i18n topic.title}}
          {{/sortable-heading}}
          {{#sortable-heading sortBy="posts" number=true sortOrder=sortOrder}}
            {{i18n posts}}
          {{/sortable-heading}}
          {{#sortable-heading sortBy="likes" number=true sortOrder=sortOrder}}
            {{i18n likes}}
          {{/sortable-heading}}
          {{#sortable-heading sortBy="views" number=true sortOrder=sortOrder}}
            {{i18n views}}
          {{/sortable-heading}}
          {{#sortable-heading sortBy="activity" number=true colspan="2" sortOrder=sortOrder}}
            {{i18n activity}}
          {{/sortable-heading}}
        </tr>
        </thead>

        <tbody>
          {{#if topicStream.loaded}}
            {{#if topicStream.topics.length}}
              {{#unless topicStream.loadingFilter}}
                {{each topicStream.topics itemController="topicSearchListItem" itemViewClass="Discourse.TopicSearchListItemView"}}

              {{/unless}}

            {{else}}
              <div>We couldn't find any topics!</div>
            {{/if}}
          {{/if}}
	  	  </tbody>
      </table>
      {{#if topicStream.loadingBelow}}
		    <div class='spinner'>{{i18n loading}}</div>
      {{/if}}
      {{#if topicStream.loaded}}

      {{else}}
      <div class='container'>
        <div class='spinner'>{{i18n loading}}</div>
      </div>
      {{/if}}
    </div>
  </div>
</div>


{{customHTML "bottom"}}